* {
  margin: 0;
}

html {
  display: flex;
  justify-content: center;
}

body {
  width: 70%;
}

main {
  border: 1px solid black;
  margin: 0 0 1px 0;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}


footer {
  display: flex;
}

.footerCol {
  background-color: black;
  width: 33%;
  height: 250px;
  padding: 0 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.footerCol div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;


}


#col1 {
  margin: 0 5px;
}

.footerCol div h3 {
  font-size: 34px;
  margin: 10px 0;
}

.footerCol div p {
  text-align: center;
}
